<style>
  #question{
    color: steelblue;
  }
  #contact{
    color: steelblue;
  }
</style>

<body class="background">

<div class="container-fluid ">


  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="jumbotron">


        <p id="question">Do you have a medical question?</p>
        <p>
          While we’re unable to provide personal health advice, we do offer the following options. Use our Symptom Checker, Find a Doctor, or Pill Identifier tools; visit our A-Z health topics directory; or learn more about telemedicine. If you’re facing a medical emergency, call your local emergency services immediately, or visit the nearest emergency room or urgent care center.
        </p>

        <p id="question">Have you found an inaccuracy within our content?</p>
        <p>Please visit this page to let us know.</p>

        <p id="question">Having trouble using our site?</p>
        <p>Please visit this page to report an issue.</p>

        <p id="question">Would you like to use our content for your own purposes?</p>
        <p>Please email our licensing team your permission request.</p>

        <p id="question">Interested in joining our team?</p>
        <p>Please visit this page to view our current job openings and get the inside scoop on what it’s like to work here.</p>

        <p id="question">Would you like to share a personal health story with us?</p>
        <p>Please write your own post and make it public </p>
        <br><hr>
        <div class="row">
          <div class="col-sm-2">
          </div>
          <div class="col-sm-5">

            <address id="contact">
              Office<br>
              Mailing Address<br>
              Street<br>

              Phone<br>
              04389548745<br>
            </address>
          </div>
          <div class="col-sm-5">

            <address id="contact">
              Office<br>
              Mailing Address<br>
              street<br>

              Phone<br>
              87547834734<br>
            </address>
          </div>
        </div>
      </div>
    </div>
  </div>

</div></body>