<style>


  .container label {
    color: green;
    font-weight: bold;
  }

  .container a {
    color: green;
  }

  .container h1 {
    font-family: 'Georgia', 'Times', serif;
    color: green;
    font-weight: bold;
  }

  .container .btn {
    background-color: #E8DFE0;
    color: green;
    font-weight: bold;
  }
</style>
<div class="container-fluid background">

<div class="row ">
  <div class="container">
    <br><br><br><br>
    <div class="row">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <div class="jumbotron">
          <input class="form-control" type="text" placeholder="Email or phone number">
          <br>
          <input class="form-control" type="password" placeholder="Password">
          <br>
          <a href="#">Forgotten Password? <span class="badge"></span></a>
          <br>
          <div class="checkbox">
            <label><input type="checkbox"> Remember me</label>

          </div>
          <button type="button" class="btn btn-light"><%= link_to 'Login', home_path %></button>
        </div>
      </div>

    </div>
  </div>
</div>
</div>