body {
  background-image:url("../images/bachground.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.container label{
 color: black;
 font-weight: bold;
}

.container h1{
  font-family: 'Georgia', 'Times', serif;
  color: black;
  font-weight: bold;
}
.container .btn{
  background-color: #E8DFE0;
  color: black;
  font-weight: bold;
}
