<div class="footer" style="height:200px;background-color:#212F3C;font-size:15px ;width:100%">
  <br>
  <br>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-1">
      <a href="#">English(UK)</a>
    </div>
    <div class="col-sm-1">
      <a href="#"> العربية </a>
    </div>
    <div class="col-sm-1">
      <a href="#"> Français </a>
    </div>
    <div class="col-sm-1">
      <a href="#"> Italiano </a>
    </div>
    <div class="col-sm-1">
      <a href="#"> Deutsch </a>
    </div>
    <div class="col-sm-1">
      <a href="#"> Русский </a>
    </div>
    <div class="col-sm-1">
      <a href="#"> Indonesia </a>
    </div>
    <div class="col-sm-1">
      <a href="#"> Türkçe </a>
    </div>
    <div class="col-sm-1">
      <a href="#"> Português</a>
    </div>
    <div class="col-sm-1">
      <a href="#"> EspañolBahasa </a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-1">
      <img width="30" height="30" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
    </div>
    <div class="col-sm-1">
      <img width="30" height="30" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
    </div>
    <div class="col-sm-1">
      <img width="30" height="30" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg">
    </div>
    <div class="col-sm-1">
      <img width="30" height="30" src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-4">
      <a style="color: steelblue">&copy;</a><%= link_to "CSED 2020 Health Food", home_path %>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
