<body class="background">
<h1 align="center">Results</h1>

<% if params[:search_param].blank? %>
  <h1 style="color: #730E15" align="center">Empty</h1>

<% elsif !@posts.blank? or !@recipes.blank? %>

  <div class="row">
    <div class="col-sm-3 ">
    </div>
    <div class="col-sm-6 ">
      <% unless @posts.blank? %>
        <% @posts.each do |post| %>
          <div class="jumbotron">
            <%= link_to post.name, post_path(post), class: "post-recipe-title" %>
          </div>
        <% end %>
      <% end %>

      <% unless @recipes.blank? %>
        <% @recipes.each do |recipe| %>
          <div class="jumbotron">
            <%= link_to recipe.name, recipe_path(recipe), class: "post-recipe-title" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <h1 style="color: #730E15" align="center">No results found</h1>
<% end %>
</body>

