<body class="background">

<div class="container-fluid">
  <h1 align="center">Editing Disease</h1>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 ">
      <%= render 'form', disease: @disease %>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <%= link_to 'Show', @disease %>
</div>
</body>